go 1.25.11

use (
./apps/ads
./apps/resource-service
./libs/assignmentstore
./libs/canonicalid
./libs/capabilitycatalog
./libs/cataloggen
./libs/cerbosclient
./libs/idpdirectory
./libs/permissioncontext
./libs/tokenverifier
./tests/architecture
)
