go 1.25.11

use (
./apps/admin-service
./apps/ads
./apps/policy-controller
./apps/resource-service
./libs/assignmentstore
./libs/authzcache
./libs/canonicalid
./libs/capabilitycatalog
./libs/capabilityeval
./libs/cataloggen
./libs/cerbosclient
./libs/idpdirectory
./libs/keycloakbulkload
./libs/keycloakbulkload/cmd/loadseed
./libs/loadmodel
./libs/outbox
./libs/permissioncontext
./libs/permissionevents
./libs/policyrelease
./libs/tokenverifier
./tests/architecture
)
